<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkWGYATEJrvaK3DBIEEvmknQSZKFAY3mY</string>
	<key>GCM_SENDER_ID</key>
	<string>368487040588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mcs.neondash</string>
	<key>PROJECT_ID</key>
	<string>neondash-e6479</string>
	<key>STORAGE_BUCKET</key>
	<string>neondash-e6479.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368487040588:ios:38bd0bb39398ef141d96e9</string>
</dict>
</plist>